<h2>Detalle Paciente</h2>

<div>
    <p><strong>Nombre</strong> {{paciente._nombre}}  </p>
    <p><strong>Apellido</strong> {{paciente._apellido}}  </p>
    <p><strong>Id</strong> {{paciente._id}}  </p>
    <p><strong>Fecha</strong> {{paciente._fecha}}  </p>
    <p><strong>Hora</strong> {{paciente._hora}}  </p>
    <p><strong>Genero</strong> {{paciente._genero}}  </p>
</div>

<button onclick="window.history.back()">Volver</button>